In [1]:
import pandas as pd
import numpy as np
import torch
import torch.nn as nn

In [2]:
df = pd.read_csv('missing_data.csv')

In [3]:
df.head(2)

,Unnamed: 0,api_url,brand,breadcrumb,category,color_option,consolidate_brand,currency,description,discount,...,size,sku,source,spec,status,stock,title,title_tag,unique_key,website
0,0,https://www.lazada.com.my/products/adidas_supe...,adidas,NaN,"[""Men's Shoes and Clothing"", 'Men Shoes', 'Sne...",['White'],adidas,MYR,Buy Adidas_superstar Men's and women's retro c...,NaN,...,"['45', '37', '40', '44', '41', '42', '38', '43...",471452862_MY-768722253,lazada,NaN,True,In Stock,Adidas_superstar Men's and women's retro casua...,Adidas_superstar Men's and women's retro casua...,471452862_MY-768722253_1000071025_5020,www.lazada.com.my
1,1,https://www.lazada.com.my/products/ready-stock...,No Brand,NaN,"['Sports & Outdoors', 'Sports Shoes', 'Men', '...",['Black'],adidas,MYR,Buy Ready Stock 2019_Adidas Ultra Boost Men Wo...,47.0,...,"['36', '37', '38', '39', '40', '41', '42', '43...",516940582_MY-995108668,lazada,NaN,True,In Stock,Ready Stock 2019_Adidas Ultra Boost Men Women ...,Ready Stock 2019_Adidas Ultra Boost Men Women ...,516940582_MY-995108668_1000108159_5020,www.lazada.com.my

In [4]:
df = df.iloc[:]

In [5]:
# df = df.filter(items=['brand', 'title', 'description'])
df = df.filter(items=['brand', 'title'])

In [6]:
df.head(2)

      brand                                              title
0    adidas  Adidas_superstar Men's and women's retro casua...
1  No Brand  Ready Stock 2019_Adidas Ultra Boost Men Women ...

In [7]:
sent_list = []
for i in range(df.shape[0]):
    temp = df.iloc[i].to_list()
    sent_list.append(temp)

In [8]:
sent_list[1]

['No Brand',
 'Ready Stock 2019_Adidas Ultra Boost Men Women Running Shoes Ultra Boost 5.0 Trainer Sport Sneaker white black | Lazada']

In [9]:
from tqdm import tqdm
from textsim.utils import EmbedSentence, SentenceDataset, SentencesDataset
from torch.utils.data import DataLoader

In [10]:
embedder = EmbedSentence()

# Embed Title/Brand Sentences

In [11]:
df.shape

(300, 2)

In [12]:
title_dataset = SentenceDataset(sentences=df['title'].to_numpy())
title_dataloader = DataLoader(dataset=title_dataset, batch_size=32, shuffle=False)

In [19]:
dataset = SentencesDataset(sentences_list=df[['brand', 'title']].to_numpy())
dataloader = DataLoader(dataset=dataset, batch_size=120, shuffle=False)

In [20]:
len(dataset)

300

In [21]:
for i in tqdm(dataloader):
    print(i.shape)

100%|██████████| 3/3 [00:00<00:00, 13.93it/s]

torch.Size([120, 100])
torch.Size([120, 100])
torch.Size([60, 100])