In [1]:
import math
import pandas as pd

In [2]:
df = pd.read_csv('./raw_product.csv')

In [3]:
df.head()

,Unnamed: 0,api_url,brand,breadcrumb,category,color_option,consolidate_brand,currency,description,discount,...,size,sku,source,spec,status,stock,title,title_tag,unique_key,website
0,0,https://www.lazada.com.my/products/adidas-clov...,No Brand,NaN,"[""Men's Shoes and Clothing"", 'Men Clothing', '...","['White', 'Black']",adidas,MYR,Buy Adidas一 Clover Men'S T-Shirt Cw0709 Cw0710...,50.0,...,"['XS', 'L', 'XL', '2XL', 'S', 'M']",1031336607_MY-2773238814,lazada,NaN,True,In Stock,Adidas一 Clover Men'S T-Shirt Cw0709 Cw0710 Wit...,Adidas一 Clover Men'S T-Shirt Cw0709 Cw0710 Wit...,1031336607_MY-2773238814_1000223104_5020,www.lazada.com.my
1,1,https://www.lazada.com.my/products/original_ad...,No Brand,NaN,"[""Men's Shoes and Clothing"", 'Men Clothing', '...",['ไม่ระบุ'],adidas,MYR,Buy Original_Adidas_Yeezy Boost 350 V2 Glow in...,78.0,...,"['36.7', '37.3', '38.7', '39.3', '40.7', '41.3...",839514190_MY-2004830132,lazada,NaN,True,In Stock,Original_Adidas_Yeezy Boost 350 V2 Glow in the...,Original_Adidas_Yeezy Boost 350 V2 Glow in the...,839514190_MY-2004830132_1000381154_5020,www.lazada.com.my
2,2,https://www.lazada.com.my/products/2019-authen...,No Brand,NaN,"['Sports & Outdoors', 'Sports Shoes', 'Men', '...",['black'],adidas,MYR,Buy 2019 Authentic Adidas_Original NMD_ Women&...,29.0,...,"['36', '37', '38', '39', '40', '41', '42', '43...",738790786_MY-1639078096,lazada,NaN,True,In Stock,2019 Authentic Adidas_Original NMD_ Women&Men ...,2019 Authentic Adidas_Original NMD_ Women&Men ...,738790786_MY-1639078096_1000170295_5020,www.lazada.com.my
3,3,https://www.lazada.com.my/products/adidas_nizz...,No Brand,NaN,"['Sports & Outdoors', 'Sports Shoes', 'Men', '...",['khaki'],adidas,MYR,Buy %%%Adidas_Nizza campus couples tide shoes ...,62.0,...,"['36', '37', '38', '39', '40', '41', '42', '43...",853308618_MY-2062732640,lazada,NaN,True,In Stock,%%%Adidas_Nizza campus couples tide shoes low ...,%%%Adidas_Nizza campus couples tide shoes low ...,853308618_MY-2062732640_1000384979_5020,www.lazada.com.my
4,4,https://www.lelong.com.my/foldable-digital-ele...,OEM,NaN,NaN,"['Black', 'Blue', 'White', 'Red']",OEM,RM,Product ID : 205174022 Brand : OEM Model / SKU...,25.0,...,"['Black', 'Blue', 'Red', 'White']",205174022,lelong,NaN,True,In Stock,Foldable Digital Electronic Barbecu (end 12/7/...,Foldable Digital Electronic Barbecu (end 12/7/...,205174022_qpet_5021,www.lelong.com.my

In [4]:
df['description'].head()

0    Buy Adidas一 Clover Men'S T-Shirt Cw0709 Cw0710...
1    Buy Original_Adidas_Yeezy Boost 350 V2 Glow in...
2    Buy 2019 Authentic Adidas_Original NMD_ Women&...
3    Buy %%%Adidas_Nizza campus couples tide shoes ...
4    Product ID : 205174022 Brand : OEM Model / SKU...
Name: description, dtype: object

In [5]:
df['title'].head()

0    Adidas一 Clover Men'S T-Shirt Cw0709 Cw0710 Wit...
1    Original_Adidas_Yeezy Boost 350 V2 Glow in the...
2    2019 Authentic Adidas_Original NMD_ Women&Men ...
3    %%%Adidas_Nizza campus couples tide shoes low ...
4    Foldable Digital Electronic Barbecu (end 12/7/...
Name: title, dtype: object

In [6]:
from spacy.lang.en import English

In [7]:
nlp = English()

In [8]:
title_array = df['title'].to_numpy()

In [9]:
type(title_array[0])

str

In [10]:
my_doc = nlp(title_array[0])

In [11]:
token_list = []
for token in my_doc:
    token_list.append(token.text)
print(token_list)

['Adidas一', 'Clover', 'Men', "'S", 'T', '-', 'Shirt', 'Cw0709', 'Cw0710', 'With', 'Round', 'Neck', 'And', 'Short', 'Sleeves', '|', 'Lazada']

In [12]:
import flair

In [13]:
from flair.data import Sentence

In [14]:
sentence = Sentence(title_array[0])

In [15]:
sentence

Sentence: "Adidas一 Clover Men'S T-Shirt Cw0709 Cw0710 With Round Neck And Short Sleeves | Lazada" - 14 Tokens

In [16]:
from flair.embeddings import WordEmbeddings, DocumentPoolEmbeddings

In [17]:
glove_embedding = WordEmbeddings('glove')

In [18]:
document_embeddings = DocumentPoolEmbeddings([glove_embedding])

In [19]:
document_embeddings.embed(sentence)

In [20]:
print(sentence.embedding.shape)

torch.Size([100])

In [21]:
sentence_two = Sentence(title_array[1])

In [22]:
[sentence, sentence_two]

[Sentence: "Adidas一 Clover Men'S T-Shirt Cw0709 Cw0710 With Round Neck And Short Sleeves | Lazada" - 14 Tokens,
 Sentence: "Original_Adidas_Yeezy Boost 350 V2 Glow in the Dark EG5293 Men/Wowen Fashion Sports Running Shoes | Lazada" - 16 Tokens]

In [23]:
document_embeddings.embed(sentence_two)
print(sentence_two.embedding.shape)

torch.Size([100])

In [24]:
!pip install --user annoy

Requirement already satisfied: annoy in /Users/aswamy/.local/lib/python3.7/site-packages (1.16.3)

In [1]:
from annoy import AnnoyIndex

ModuleNotFoundError: No module named 'annoy'

In [ ]:
t = AnnoyIndex(100, 'angular')

In [ ]:
t.add_item(0, sentence.embedding)

In [ ]:
t.add_item(1, sentence_two.embedding)

In [ ]:
t.build(100)

In [ ]:
t.get_nns_by_vector(sentence.embedding, 2)